.vs/Binary Tree By Stack ADT
.vs/Binary Tree By Stack ADT/v17/.suo
.vs/Binary Tree By Stack ADT/v17/Browse.VC.db
x64/Debug/Binary Tree By Stack ADT.log
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/Binary T.d1525890.tlog/Binary Tree By Stack ADT.lastbuildstate
x64/Debug/Binary T.d1525890.tlog/CL.command.1.tlog
x64/Debug/Binary T.d1525890.tlog/unsuccessfulbuild
.vs/Binary Tree By Stack ADT/v17/.suo
.vs/Binary Tree By Stack ADT/v17/Browse.VC.db
.vs/Binary Tree By Stack ADT/v17/ipch/AutoPCH/258d8d0dfba1e7e2/MYSTACK.ipch
x64/Debug/Binary Tree By Stack ADT.exe
x64/Debug/Binary Tree By Stack ADT.exe.recipe
x64/Debug/Binary Tree By Stack ADT.ilk
x64/Debug/Binary Tree By Stack ADT.pdb
x64/Debug/Binary Tree By Stack ADT.vcxproj.FileListAbsolute.txt
x64/Debug/myStack.obj
x64/Debug/Source.obj
x64/Debug/Binary T.d1525890.tlog/CL.read.1.tlog
x64/Debug/Binary T.d1525890.tlog/CL.write.1.tlog
x64/Debug/Binary T.d1525890.tlog/link.command.1.tlog
x64/Debug/Binary T.d1525890.tlog/link.read.1.tlog
x64/Debug/Binary T.d1525890.tlog/link.write.1.tlog
